
:root {
  --color-one: 46, 100, 102; /* metalGrey */
  --color-two: 44, 53, 50; /* dark */
  --color-three: 216, 176, 140; /* peach */
  --color-four: 255, 203, 155; /* lightPeach */
  --color-five: 210, 232, 227; /* lightGrey */
}

.background {
  background: linear-gradient(rgba(var(--color-one)), rgba(var(--color-two))) no-repeat center center fixed;
}

.titleHead {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  color: var(--color-five);
  margin-top: 40px;
  margin-bottom: -10px;
  margin-left: 10%;
}

.titleHead #tFirst {
  font-family: fantasy;
  font-size: 50px;
  -webkit-text-stroke: .5px rgba(var(--color-four));
  background-color: rgba(var(--color-two));
  background-image: linear-gradient(45deg, rgba(var(--color-two)) 30%, rgba(var(--color-five), .5));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.badge {
  font-size: 30px;
  border: solid rgba(var(--color-four));
  border-radius: 15px;
  vertical-align: 30% !important;
}

.searchControl {
  margin-top: 55px;
  margin-bottom: -15px;
  margin-right: 10%;
}

@media only screen and (max-width: 870px){
  .searchControl {
    margin-left: 10%;
  }
}


.controls {
  background: linear-gradient(
    90deg, rgba(var(--color-two), 0.919) 3%, rgba(var(--color-one), 0.8) 25.23%, rgba(var(--color-two), 0.919) 100%);
  border: solid 1px rgba(var(--color-five), .5);
  padding: 8px;
  margin-left: 10%;
  margin-right: 10%;
}

.searchLabel {
  font-size: 20px;
  padding-right: 5px;
  padding-top: 2px;
  color: rgba(var(--color-five));
}

.searchBox {
  width:20vw;
}

.btn-contr {
  margin-top: 5px;
}

.bttn {
  font-weight: bold;
  padding: 2px;
  font-size: 20px;
  margin-left: 5px;
  color: rgba(var(--color-three));
  text-decoration: none;
  border: solid 3px rgba(var(--color-three));
  border-radius: 5px;
}

.bttn:hover {
  color: rgba(var(--color-four)); 
  border-color: rgba(var(--color-four));
}

.formBg, .formBg:active {
  background-color: rgba(255, 255, 255, 0.8);
}

/* set first option properties in dropdown menues */
select option:first-child{
  color: lightgray !important;
}

.source {
  color: rgba(var(--color-three));
  padding-top: 5px;
}

#link {
  text-decoration: underline;
}

#link:hover {
  color: rgba(var(--color-five));
}

.content {
  border: solid 2px rgba(var(--color-five), .4);
  background-color: rgba(var(--color-four), 0.1);
  border-radius: 5px;
  padding: 0 !important;
  margin: 0 10%;
}

.card-text {
  height: 100px;
  overflow-y: auto;
  font-size: 14px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.bg-cst {
  background-color: #082508;
  padding: 0 4px;
}

.bttnCrd:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;  
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(214, 214, 214);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:rgb(202, 202, 202);
  border-radius: 10px;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.footer {
  color: rgba(var(--color-three));
  margin: -20px 10%;
  font-size: 12px;
  float: left;
}

.modal-backdrop {
  opacity:0.75 !important;
}

.modal-header {
  height: 200px;
  padding: 0;
}

.modal-title {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  color: white;
  margin-bottom: -80px;
  line-height: 100%;
  padding: 5px 10px 12px 10px;
  max-width: 600px;
}

#btn-x {
  box-shadow: 3px 3px 3px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50px;
  height: 50px;
  color: #250825;
  margin-bottom: 150px;
  margin-right: -10px;
  border: #250825;
  border-radius: 50%;
}

.modal-dialog {
  max-width: 700px;
}

#modalBody {
  overflow-y: auto;
}

#more {
  display: none;
}

.sorryMsg {
  font-size: 20px;
  padding: 10px 30px;
  margin: auto;
  color: rgba(var(--color-four), 1);
}

#btn-back-to-top {
  color: rgba(var(--color-four), .3);
  height: 60px;
  width: 60px;
  border: rgba(var(--color-five), .5);
  background-color: rgba(var(--color-five), .3);
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 30px;
}

#btn-back-to-top:hover {
  color: rgba(var(--color-four), 1);
  background-color: rgba(var(--color-five), .5);
}

.form-select {
  padding: 5px 30px 5px 5px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(var(--color-two));
}

#readMore {
  font-size: 14px;
  border: none;
  color: rgba(var(--color-one));
  background-color: white;
}


