
:root {
  --color-one: 46, 100, 102; /* metalGrey */
  --color-two: 44, 53, 50; /* dark */
  --color-three: 216, 176, 140; /* peach */
  --color-four: 255, 203, 155; /* lightPeach */
  --color-five: 210, 232, 227; /* lightGrey */
}

.background {
  background: linear-gradient(rgba(var(--color-one)), rgba(var(--color-two))) no-repeat center center fixed;
}

.titleHead {
  font-family:'Franklin Gothic Medium', 'Arial NarslideRow', Arial, sans-serif;
  font-weight: bolder;
  color: var(--color-five);
  margin-top: 40px;
  margin-bottom: -10px;
  margin-left: 10%;
}

.titleHead #tFirst {
  font-family: fantasy;
  font-size: 50px;
  -webkit-text-stroke: .5px rgba(var(--color-four));
  background-image: linear-gradient(45deg, rgba(var(--color-two), .5) 30%, rgba(var(--color-three), .4));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@-moz-document url-prefix() {
  .titleHead #tFirst {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 2px rgba(var(--color-four));
    letter-spacing: -2px;
  }
}

.badge {
  font-size: 30px;
  border: solid rgba(var(--color-four));
  border-radius: 15px;
  vertical-align: 30% !important;
}

.searchControl {
  margin-top: 55px;
  margin-bottom: -15px;
  margin-right: 10%;
}

@media only screen and (max-width: 870px){
  .searchControl {
    margin-left: 10%;
  }
}

.controls {
  background: linear-gradient(
    90deg, rgba(var(--color-two), 0.919) 3%, rgba(var(--color-one), 0.8) 25.23%, rgba(var(--color-two), 0.919) 100%);
  border: solid 1px rgba(var(--color-five), .5);
  padding: 8px;
  margin-left: 10%;
  margin-right: 10%;
}

.searchLabel {
  font-size: 20px;
  padding-right: 5px;
  padding-top: 2px;
  color: rgba(var(--color-five));
}

#filter:hover {
  color: rgba(var(--color-four));
}

#filter {
  font-size: 16px;
}

.searchBox {
  width:20vw;
}

.btn-contr {
  margin-top: 5px;
}

.bttn {
  font-weight: bold;
  padding: 2px;
  font-size: 20px;
  margin-left: 5px;
  color: rgba(var(--color-three));
  text-decoration: none;
  border: solid 3px rgba(var(--color-three));
  border-radius: 5px;
}

.bttn:hover {
  color: rgba(var(--color-four)); 
  border-color: rgba(var(--color-four));
}

.formBg, .formBg:active {
  background-color: rgba(255, 255, 255, 0.8);
}

/* set first option properties in dropdown menues */
select option:first-child{
  color: lightgray !important;
}

.source {
  color: rgba(var(--color-three));
  padding-top: 5px;
}

#link {
  text-decoration: underline;
}

#link:hover {
  color: rgba(var(--color-four));
}

.content {
  border: solid 2px rgba(var(--color-five), .4);
  background-color: rgba(var(--color-four), 0.1);
  border-radius: 5px;
  padding: 0 !important;
  margin: 0 10%;
}

.card {
  border: 1px solid rgba(var(--color-three));
}

.card-text {
  height: 100px;
  overflow-y: auto;
  font-size: 14px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title:hover, .card-img-top:hover {
  color: rgba(var(--color-four));
}

.bg-cst {
  background-color: #082508;
  padding: 0 4px;
}

.bttnCrd:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;  
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(214, 214, 214);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color-three));
  border-radius: 10px;
}

/* Firefox scroll bar */
.scroller {
  overflow-y: scroll;
  scrollbar-color: #0A4C95 #C2D2E4;
}

.scroller::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-right: 1px solid white;
}
/***************************/

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.footer {
  color: rgba(var(--color-three));
  margin: -20px 10%;
  font-size: 12px;
  float: left;
}

.modal-backdrop {
  opacity:0.85 !important;
}

.modal-header {
  height: 200px;
  padding: 0;
}

.modal-title {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  color: white;
  line-height: 100%;
  padding: 5px 10px 12px 10px;
  max-width: 600px;
  margin-top: 90px !important;
}

#btn-x {
  box-shadow: 3px 3px 3px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50px;
  height: 50px;
  color: #250825;
  margin-bottom: 150px;
  margin-right: -10px;
  border: #250825;
  border-radius: 50%;
}

.modal-dialog {
  max-width: 850px;
  margin-top: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-content {
  margin-right: 10%;
  border-radius: 7px;
}

#modalBody {
  overflow-y: auto;
  background-color: rgba(var(--color-five));
}

#more {
  display: none;
}

.sorryMsg {
  font-size: 20px;
  padding: 10px 30px;
  margin: auto;
  color: rgba(var(--color-four), 1);
}

#btn-back-to-top {
  color: rgba(var(--color-four), .3);
  height: 60px;
  width: 60px;
  border: rgba(var(--color-five), .5);
  background-color: rgba(var(--color-five), .3);
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 30px;
}

#btn-back-to-top:hover {
  color: rgba(var(--color-four), 1);
  background-color: rgba(var(--color-five), .5);
}

.form-select {
  padding: 5px 30px 5px 5px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(var(--color-two));
}

#readMore {
  font-size: 14px;
  border: none;
  color: rgba(var(--color-one));
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.2);
}

#readMore:active {
  box-shadow: none;
}

.contentBg {
  background: url("../../Assets/images/contentBG.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 600px;
  margin: 5px;
}

.modal-footer {
  justify-content: left;
  display: block;
  background-color: rgba(var(--color-two));
}

#gameDetail {
  font-size: 14px;
  color: white;
}

.more:hover {
  color: black;
  text-decoration: none;
}

.text-hl {
  color: rgba(var(--color-three));
}

.metc {
  color: rgba(var(--color-four));
}

#steamInfo a:hover {
  color: rgba(var(--color-four));
}

.border-1 {
  padding: 1px;
}

/* STEAM INFO SECTION */
.steamInfoSection {
  flex-wrap: wrap;
  max-width: 850px;
  margin-top: 20px !important;
  margin: -.75rem;
  color:rgba(var(--color-five));
  font-size: 16px;
}

.steam-header {
  padding: 20px 20px 20px;
  font-size: 18px;
}

.steam-details {
  padding: 20px 20px;
}

.steam-subheader {
  color: rgb(177, 177, 177);
  font-size: 14px;
}

.steam-time {
  color:rgba(var(--color-four));
  font-size: 12px; 
}

.hours {
  font-size: 12px;
}

.recommend {
  float: right;
  font-size: 12px;
  color: rgba(var(--color-four))
}

.not-recommend {
  font-size: 12px;
  color: rgba(var(--color-three))
}

.steam-review {
  padding: 10px;
  background-color: rgba(var(--color-two), .5);
  border: solid rgba(var(--color-one));
  border-radius: 5px;
  max-height: 125px;
  overflow-y: auto;
  overflow-x: hidden;
}

.specs {
  border-top: solid 1px rgba(var(--color-five), .5);
  font-size: 12px;
  padding: 10px;
  margin: 15px;
  margin-bottom: 0;
  position: relative !important;
}

.specs-title {
  margin-top: 35px;
}

.spec-container {
  width: 50%;
}

.right {
  float: right;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  min-height: 530px;
  position: relative;
  margin: auto;
  padding: 0 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  max-height: 438px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
  background-color: black;
  vertical-align: middle;
  justify-content: center;
}

#lImg {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 438px !important;
}

.cursor {
  cursor: pointer;
}

.img-container {
  max-height: 438px;
  max-width: 780px;
  position: relative;
  background-color: rgba(var(--color-two));
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 26px;
  padding-top: 25%;
  color: rgba(var(--color-five), .2);
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:rgba(var(--color-two), .7);
  color: rgba(var(--color-three))
}

.slideRow {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 90px; /* Adjusts distance of horizontal thumbnail scrollbar */
  white-space: nowrap;
  padding-top: 5px;
}

.slideRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.60;
}

.active,
.demo:hover {
  opacity: 1;
}

.active {
  border: solid rgba(var(--color-five));
}

/* Six columns side by side */
.thumbn {
  height: 65px; /* Adjusts thumbnail height */
  text-align: center;
  display: inline-block !important;
  background-color: rgba(var(--color-one));
  margin-right: 5px;
}

.active, .dot:hover {
  background-color: rgba(var(--color-three));
}

#sImg, #lImg {
  max-width:100%;
  max-height: 100%;
}

#sImg {
  display: inline-block;
  vertical-align: middle;
}

/* Fading animation */
.fadeSlide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fadeSlide:not(.show) {
  opacity: 1 !important;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End Slideshow CSS */
